<ul class="nav" id="main-menu">
    <li>
        <a href="/advisor/contactRequests"><i class="fa fa-edit "></i> طلبات التواصل <span class="badge badge-success">تضمين</span></a>
    </li>

    <li>
        <!--was class="active-link" -->
        <a href="/advisor/advisorStudents"><i class="fa fa-desktop "></i> الطلاب المسجلين <span class="badge badge-danger">تضمين</span></a>
    </li>

    <li>
        <a href="#"><i class="fa fa-table "></i> تواصل مع وحدة الإرشاد <span
                class="badge badge-primary">تضمين</span></a>
    </li>

    <li>
        <a href="#"><i class="fa fa-edit "></i> تواصل مع الطالب <span class="badge badge-success">تضمين</span></a>
    </li>
</ul>