<div class="footer">
    <div class="row">
        <div class="col-lg-12">
            &copy; مركز الجامعة للإرشاد الأكاديمي <a href="http://binarytheme.com" style="color:#fff;"
                target="_blank">www.eMurshid.com</a>
        </div>
    </div>
</div>

{{#if enableScriptRigster}}
<script type="text/javascript" src="/assets/js/register.js"></script>
{{/if}}