<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{> advisor/advisorHead}}
</head>

<body>
    <div id="wrapper">
        {{> header }}
        <nav class="navbar-default navbar-side" id="divnav" role="navigation">
            <div class="sidebar-collapse">
                {{> advisor/advisorMenu}}
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="container">
                    {{{body}}}
                </div>
            </div>
        </div>
        {{> footer }}
        {{> advisor/advisorScripts}}
</body>

</html>