<div class="row">
    <div class="col-md-12">
        <h2> تسجيل الدخول </h2>
    </div>
</div>
<hr />
<div class="container">
    <form action="/registration/login" method="POST" id="register">
         {{error}}
        <br>    
        <div class="row">
            <div class="form-group col-6">
                <label for="universityID">الرقم الجامعي </label>
                <input type="text" class="form-control" id="universityID" name="universityID" placeholder="ادخل رقمك الجامعي " autofocus>
                {{!-- <section>SomeErrorsOcurred</section> --}}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="password"> كلمة السر : </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="كلمة السر">
                <span>
                    باقي ما سجلت؟؟
                    <a href="#">سجل من هنا</a>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-4">
                <button type="submit" class="btn btn-danger col-4">دخول</button>
            </div>
        </div>

    </form>
</div>