<div class="row">
    <div class="col-md-12">
        <h2> تسجيل جديد </h2>
    </div>
</div>
<hr />
<div class="container">
    <form action="/registration/register" method="POST" id="register">
        <br>    
        <div class="row">
            <div class="form-group col-6">
                <label for="username">الاسم : </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="ادخل اسمك " >
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="universityid">الرقم الجامعي</label>
                <input type="text" class="form-control" id="universityid" name="universityid" placeholder="ادخل رقمك الجامعي " >
            </div>
        </div>
        
        <div class="row">        
            <div class="form-group col-6">
                <label for="email"> الإيميل : </label>
                <input type="text" class="form-control" id="email" name="email" placeholder="الإيميل الجامعي" autofocus>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-6">
                <label for="pass"> كلمة السر : </label>
                <input type="password" class="form-control" id="pass" name="pass" placeholder="كلمة السر">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-4">
                <button type="submit" class="btn btn-danger">سجلني</button>
            </div>
        </div>

    </form>
</div>