{{#each post}}
    <div>
        <div class="card">
            <div class="card-body">
                <h3><a href="/post/one/{{this._id}}" id="uniquePost" data-id="{{this._id}}" >{{this.title}} </a></h3>
                <p class="card-text small">عبدالرحمن الرحيلي ، {{this.date}}</p>

            </div>
        </div>
    </div>

    <hr />
{{/each}}