<!-- page header -->
<div class="row">
    <div class="col-md-12">
        <h2> وحدة الإرشاد الأكاديمي تحييك  </h2>
    </div>
</div>

<hr />

<!-- end of page header -->

<h2>التقارير والنتائج للطلاب المسجلين في الكلية والإرشاد الأكاديمي</h2>
<ul>
    <li>إرشاد أكاديمي سهل وميسر</li>
    <li>تقارير لمتابعة الطلاب والمرشديين الأكاديميين الخاص بالكلية</li>
</ul>