<ul class="nav" id="main-menu">

    <li>
        <!--was class="active-link" -->
        <a href="/student/contact"><i class="fa fa-desktop "></i> تواصل مع المرشد الأكاديمي </a>
    </li>
    <li>
        <a href="#"><i class="fa fa-table "></i> ملفي الخاص <span class="badge badge-primary">تضمين</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit "></i> تحديث درجاتي <span class="badge badge-success">تضمين</span></a>
    </li>
    <li>
        <a href="/student/myPosts"><i class="fa fa-edit "></i> الطلبات المرسلة <span class="badge badge-success">تضمين</span></a>
    </li>
</ul>