<div class="row">
    <div class="col-md-12">
        <h2> ملفي الشخصي</h2>
    </div>
</div>
<hr />

<div class="container">

    <div class="container body-content">
        <div class="container">
            <form action="" >

                <div class="row justify-content-start" style="padding-top:10px;">
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> الاسم </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="username" class="form-control" value="{{studentName}}">
                    </div>
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> الرقم الجامعي </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="universityID" class="form-control" value="{{universityID}}">
                    </div>
                </div>

                <div class="row justify-content-start" style="padding-top:10px;">
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> الحالة </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="status" class="form-control"></input>
                    </div>
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> رقم الجوال </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="mobile" class="form-control"></input>
                    </div>
                </div>

                <div class="row justify-content-start" style="padding-top:10px;">
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> الإيميل</label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="email" name="email" class="form-control" value="{{email}}">
                    </div>
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> المعدل </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="number" min="0.00" max="5.00" name="gpa" class="form-control"></input>
                    </div>
                </div>

                <div class="row justify-content-start" style="padding-top:10px;">
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> المستوى </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="level" class="form-control"></input>
                    </div>
                    <div class="px-1 col-2 col-md-1" style="padding-top:10px;">
                        <label> التخصص </label>
                    </div>
                    <div class="col-10 col-md" style="padding-top:10px;">
                        <input type="text" name="major" class="form-control"></input>
                    </div>
                </div>


                <div class="row justify-content-start" style="padding-top:10px;">
                    <button type="submit" class="btn btn-primary">تحديث معلوماتي</button>
                </div>
            </form>
        </div>
    </div>

</div>