<div class="row">
    <div class="col-md-12">
        <h2> حيا الله {{studentName}}</h2>
    </div>
</div>
<hr />

<div>
    <h2>معلومات مهمة قد تفيدك</h2>
    <ul>
        <li>الإرشاد الأكاديمي يساعد الطالب على تخطي الصعوبات في الحياة الجامعية</li>
        <li>الإرشاد الأكاديمي يجعلك أكثر إنتاجية</li>
        <li>الإرشاد الأكاديمي يرشدك إلى أكثر القرارت صوابا في دراستك</li>
    </ul>
</div>