<div class="row">
    <div class="col-md-12">
        <h2> تواصل مع الطالب </h2>
    </div>
</div>

<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <br/>
    <div>
        <label for="title">عنوان الرسالة</label>
        <input type="text" id="title" name="title"> 
    </div>
    <br/>
    <div>
        <label for="content">موضوع الرسالة </label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <button type="submit" class="btn btn-danger">أرسل </button>
    </div>
</div>