<div class="row">
    <div class="col-md-12">
        <h2> حيا الله {{advisorName}} </h2>
    </div>
</div>

<hr />

<h2>شكرا لك يا أيها المرشد الأكاديمي</h2>
<ul>
    <li>أنت فخر الطلاب</li>
    <li>انطلق ولا تخشى شيئا</li>
</ul>