<div class="row">
    <div class="col-md-12">
        <h2> تسجيل الطلاب </h2>
    </div>
</div>

<hr />
<div>
    <p> أدخل الرقم الجامعي للطالب</p>
    <span>أدخل رقم جامعي واحد بالصف</span>
</div>

<br>
<br>

<form action="/advisor/_getStudents" method="POST">

    <textarea name="registeredStudents" id="" cols="30" rows="10"></textarea>
    <br />
    <button type="submit" class="btn btn-success">submit</button>

</form>