<ul class="nav" id="main-menu">
    <li>
        <a href="/advisingUnit/advisors"><i class="fa fa-edit "></i> المرشديين الأكاديميين <span class="badge badge-success">تضمين</span></a>
    </li>

    <li>
        <!--was class="active-link" -->
        <a href="#"><i class="fa fa-desktop "></i> تقارير المرشديين الأكاديميين </a>
    </li>

    <li>
        <a href="#"><i class="fa fa-table "></i> تقارير الطلاب  <span
                class="badge badge-primary">تضمين</span></a>
    </li>

    <li>
        <a href="#"><i class="fa fa-edit "></i> طلبات التواصل المرسلة <span class="badge badge-success">تضمين</span></a>
    </li>
</ul>